name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install GLib development libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y libglib2.0-dev
    
    - name: Build all lessons
      run: make all
